<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
<title>Page Not Found</title>
</head>
<body>
<div style="text-align: center; font-size: xxx-large; margin-top: 20px">
		Book Storage Administrator</div>
<div style="width: 80%; margin:auto; text-align: center; margin-top: 10px; font-size:large;">
Uuups... <span style="color:red">Page not found. </span> Try again. </div>

	<div class="navigation">
		<a href="/" class="linkButton">All books</a> <a href="/antiquelist"
			class="linkButton">Antique books</a> <a href="/sciencelist"
			class="linkButton">Science journals</a>
	</div>
</body>
</html>