<
style>.dsf {
	
}

input[type=submit] {
	background-color: #74aaff;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #bad5ff;
}



input[type=text], input[type=number] {
	width: 40%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 0px;
	min-width: 300px;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

button {
	background-color: #74aaff;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #bad5ff;
}

.linkButton {
	background-color: #74aaff;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
}

.linkButton:hover {
	background-color: #bad5ff;
}

.navigation {
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom: 1px solid #e5e5e5;
}


table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #d3e2ff;
}

.infoAlert {
	text-align: center;
	color: red;
	font-size: x-large;
	margin: 10px;
}

.bookInfoTitle {
	margin: 10px;
	margin-left: 10px;
	margin-left: 10%;
	font-size: large;
	color: #999999;
}

.bookInfo {
	margin: 10px;
	margin-left: 10px;
	margin-left: 10%;
	font-size: x-large;
	color: #4a4a4a;
}
@media screen and (max-width: 600px) {
	.navigation {
		display: flex;
		flex-direction: column;
	}


}
</
style
>